.wrapper {
  display: grid;
  grid-gap: 24px;
  height: fit-content;
  max-height: 100%;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 768px) {
  .wrapper {
      overflow-x: unset;
  }
}

.title {
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0 !important;
  background: white;
}

.cardBody {
  display: grid;
  grid-gap: 12px;

  :global(.ant-typography) {
    margin: 0;
  }

  :global(h5.ant-typography) {
    font-size: 18px;
  }

  :global(div.ant-typography) {
    font-size: 16px;
  }
}

.card {
  position: relative;

  :global(.ant-card-body) {
    display: flex;
    width: calc(100% - 80px);
  }

  //.button {
  //  position: absolute;
  //  top: -1px;
  //  right: -1px;
  //  height: calc(100% + 2px);
  //}
}

.disabled {
  background: #f0f0f0;
}

.button {
  height: auto;
  padding: 24px;
  font-weight: 800;
  font-size: 18px;
}
