.form {
  display: grid;
  grid-gap: 0 24px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 48px;

  :global(.ant-typography) {
    margin: 0;
  }

  :global(.ant-input) {
    text-align: center;
  }
}

.wide {
  grid-column: 1 / 3;
}

.select {
  composes: wide;
  width: calc(50% - 12px);
}
