.wrapper {
  display: flex;
  max-width: 1024px;
  height: calc(100vh - 73px);
  margin: auto;
}

.wideWrapper {
  composes: wrapper;
  max-width: 1200px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 73px;
  padding: 16px max(calc(50% - 432px), 24px);
  border-bottom: 1px solid #f0f0f0;
}

.content {
  width: calc(100% - 196px);
  padding: 24px;
}
