.wrapper {
  display: flex;
  max-width: 75%;
  height: calc(100vh - 73px);
  margin: auto;
}

.wideWrapper {
  composes: wrapper;
  max-width: 1200px;
}

.header {
  position: static;
  top: 0;
  z-index: 1;
  height: 73px;
  padding: 16px max(calc(50% - 488px), 24px);
  border-bottom: 1px solid #f0f0f0;
}

.content {
  width: calc(100% - 196px);
  padding: 24px;
}

.link {
  color: inherit !important;
}



/* Адаптация для экранов шириной до 992px (планшеты) */
@media (max-width: 1100px) {
  .wrapper {
    display: flex;
    max-width: 100%;
    height: calc(100vh - 73px);
    margin: auto;
  }
}

/* Медиазапрос для экранов шириной до 768px */
@media (max-width: 768px) {
  .wrapper, .wideWrapper {
    max-width: 90vh; /* Устанавливаем ширину контейнера на 100% */
    padding: 0 16px; /* Уменьшаем боковые отступы */

  }

  .header {
    padding: 16px 16px; /* Сужаем горизонтальные отступы для header */
  }

  .content {
    width: 90vh; /* Делаем контент на всю ширину экрана */
    padding: 16px; /* Уменьшаем отступы */
    display: grid;
  }
}