.row :global(.ant-form-item-control-input-content) {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .row :global(.ant-form-item-control-input-content) {
      grid-template-columns: 1fr; /* Одна колонка */
      grid-auto-rows: min-content; /* Высота строк подстраивается под содержимое */
      gap: 10px; /* Промежутки между элементами (по желанию) */
      // grid-gap: unset;
  }
}