/* Стили для широких экранов */
.BtnDivider {
    margin: 5px;
}
.ActionBtnPos{
    display: flex;
    justify-content: center;
}
.TransferWraper {
    display: flex;
    justify-content: center;
}
.SchemeImg {
    display: flex;
    justify-content: center;
}

.BuildingActionTitle {
    display: flex;
    justify-content: center;
}

.CommendantSaveBtn{
    text-align: right;
    padding: 10px;
}

/* Адаптация для экранов шириной до 992px (планшеты) */
@media (max-width: 1100px) {
    .TransferWraper {
        flex-direction: column; 
    }
    .TransferModilePos{
        display: flex;
        justify-content: center;
    }
    .SchemeImg {
        width: 80%; /* Уменьшаем ширину для среднего экрана */
    }
    .BtnDivider {
        margin: 2px;
    }
}
/* Адаптация для экранов шириной до 768px */
@media (max-width: 768px) {
    .TransferWraper {
        flex-direction: column; 
    }
    .TransferModilePos{
        display: flex;
        justify-content: center;
    }
    .SchemeImg {
        width: 100%;
    }
    .BtnDivider {
        margin: 10px 0;
    }
    .lol {
        display: flex;
        overflow-y: auto;
    }
    .ant-transfer-list-content-item-text {
        white-space: nowrap;         /* Запрещает перенос текста на новую строку */
        overflow: hidden;            /* Скрывает текст, выходящий за пределы */
        text-overflow: ellipsis;     /* Добавляет многоточие */
        max-width: 100px;            /* Ограничивает ширину текста */
      }
}