html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-enter {
  transform: scale(1.1);
  opacity: 0;
}

.page-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  transform: scale(1);
  opacity: 1;
}

.page-exit-active {
  transform: scale(0.9);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
