.wrapper {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

@media (max-width: 768px) {
  .wrapper {
    display: block;
    grid-template-columns: 1fr; /* Устанавливаем одну колонку на мобильных устройствах */
  }
}
