.header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 73px;
  padding: 16px max(calc(50% - 432px), 24px);
  background: #fff;
  border-bottom: 1px solid #f0f0f0;

  :global(.ant-page-header-heading-title) a {
    color: inherit;
  }
}

.link {
  color: inherit !important;
}

.content {
  padding: 24px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
}

.drawer {
  :global(.ant-drawer-header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    border-bottom: none;
  }

  :global(.ant-drawer-close) {
    position: static;
    padding: 0;
  }

  :global(.ant-drawer-title) {
    font-size: 20px;
    line-height: 32px;
  }

  :global(.ant-drawer-body) {
    display: flex;
    flex-direction: column;
  }
}

.tabs {
  display: grid;
  grid-gap: 36px;
  margin: auto 0;
}

@media (min-width: 1024px) {
  .content {
    width: 400px;
    margin: 0 auto;
  }
}
